<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Toon It</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="{{url_for('static', filename='mobile-style.css') }}">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="container-fluid p-0" style="margin-bottom: 50px;margin-top: 60px;">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <i class="fas fa-pen fa-2x mx-3"></i>Toon It</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#home">HOME
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery">GALLERY</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="#download">DOWNLOAD APP</a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link" href="#about">ABOUT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container text-center" id="home">
      <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
          <h6>Cartoonize Your Images</h6>
          <h1>TOON IT NOW</h1>
          <p>
            Browse your image file to cartoonize your image
          </p>
            
              
          
            <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
              </div>
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
              </div>
            </div>
            </form>
          <script>
            $('#inputGroupFile04').on('change',function(){
                //get the file name
                var fileName = $(this).val().replace('C:\\fakepath\\', " ");;
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>
        </div>
        <div class="col-md-5 col-sm-12  h-25">
          <img src="{{url_for('static',filename='assets/pencil.png')}}" alt="Tooned" />
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="section-1" id="gallery">
      <div class="container text-center" style="margin-top:-5%; margin-bottom: -5%;">
        
              <h1><b>Gallery</h1>
              <p class="pt-4">
                Take a look at some of the cartoonized artist like images made from your own photos which you can use for free.
              </p>
              <div class="row"> 
                <div class="column">
                  <img src="{{url_for('static',filename='assets/toon1.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon2.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon3.jpg')}}" style="width:100%">
                  
                </div>
                <div class="column">
                  <img src="{{url_for('static',filename='assets/toon7.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon8.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon12.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon10.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon19.jpg')}}" style="width:100%">
                  
                </div>  
                <div class="column">
                  <img src="{{url_for('static',filename='assets/toon14.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon9.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon16.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon17.jpg')}}" style="width:100%">
                </div>
                <div class="column">
                  <img src="{{url_for('static',filename='assets/toon21.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon18.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon20.jpg')}}" style="width:100%">
                  <img src="{{url_for('static',filename='assets/toon24.jpg')}}" style="width:100%">
                </div>
            </div>
          </div>
        </div>
      </div>
    
    </section>
    <!--
     <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
          <h1>Some Features That Made Us Unique</h1>
          <p>
            Tell something
          </p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          
          <div class="rect">
            <h5>Quality</h5>
            <p>High Quality Algorithm Used To Cartoonize Image</p>
          </div>
          
        </div>
      </div> -->

    <!--  
    </section>
    <section class="section-3 container-fluid p-0 text-center" id="download">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>Download Our App</h1>
          <p>
            this is our app
          </p>
        </div>
      </div>
      <div class="platform">
        <div class="row">
        
            <div class="col align-self-center">
              
                
                      <a class="btn btn-lg btn-success big-btn android-btn" href="#" style="align-items: center;">
                      <img width="80px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png">
                      <div class="btn-text">
                          <small>Available on</small><br><strong>Google Play</strong>
                      </div>
                      </a>
               
                       
                
            </div>
        </div>
        
      </div>
    </section>
    -->

    
  </main>
  <footer id="about">
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">About us</h4>
          <p class="text-muted">This is our app</p>
          <p class="pt-4 text-muted">Copyright ©2020 All rights reserved :
            <span> Toon It</span>
          </p>
        </div>
        
       
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='main.js') }}"></script>
  
</body>

</html>


